#cabecalho {
	background-color: #FF7F24;
	height: 114px;
}

#logoCompany {
	float: left;
	position: absolute;
}

/* rodape */
#rodape {
	background-color: #FF7F24;
	background-image: none;
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size: 10px;
	color: #FFFFFF;
	display: block;
	background-image: none;
}

#logoutLabel {
	position: absolute;
	right: 14px;
	top: 100px;
}

#logoutLink {
	position: absolute;
	right: 14px;
	top: 86px;
}

#logout {
	position: absolute;
	right: 14px;
	top: 86px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	color: #FFFFFF;
}

#conteudo {
	width: 100%;
}

/* Padrão */
.panelTitulo.ui-panel .ui-panel-titlebar { /* Painel de título */
	background-color: #FF7F24;
	background-image: none;
	color: #FFFFFF;
	border-radius: 0px;
}

.panelTitulo.ui-panel .ui-panel-title {
	margin: auto;
}

.ui-widget { /* Tamanho da letra para o site */
	 font-size: 13px;
}

/* Página de Login */
#formLogin {
	width: 500px;
	height: 200px;
	position: absolute;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -250px;
}

#formLogin .ui-widget-header { /* Título do form de login*/
	color: #FFFFFF;
	height: 25px;
}

#formLogin .ui-inputtext { /* Caixa de texto do form */
	width: 170%;
}

#formLogin .ui-password { /* Passaword do form */
	width: 65%;
}

#formLogin .ui-icon { /* Ícone no título do form */
	background-color: #FFFFFF;
}

#botaoLogin { /* Botões Conectar e Limpar */
	text-align: right;
}


/* Painel */
.painel.ui-menu { /* Menu */
	margin-left: -8%;
	margin-top: -50.4%;
	border-radius: 0px;
	width: 120%;
	font-size: 13px;
	background-image: none;
}

.painel.ui-menu .ui-widget-header { /* Título SubMenu */
	background-color: #FF7F24;
	background-image: none;
	color: #FFFFFF;
}

.painel.ui-menu .ui-menu-list { /* Tamanho título Submenu */
	width: 93%;
}

.painel.ui-inputfield {
	/* Caixa de texto de informação de evolução de vendas */
	margin-left: -8%;
	margin-top: -2.5%;
	font-size: 12px;
	box-shadow: none;
	border-radius: 0;
	text-align: center;
	width: 119.5%;
	padding-top: 15px;
}

.painel .ui-menu .ui-menuitem-link { /* Itens do menu */
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}

.iconesMenu { /* Ícones do SubMenu */
	background: no-repeat 2%;
	padding-left: 20px !important;
}

.grafico { /* Gráficos da Tela */
	width: 100%;
	margin: auto !important;
	font-size: 13px;
}
.g_c1{
	width: 50%;
}
.g_c2{
	width: 50%;
}
.pa1{
	position: relative !important;
	width: 480px !important;
	height: 300px !important;
	top: 35% !important;
	margin-top: 0px !important;
	left: 52% !important;
	margin-left: -250px !important;
}
.pa2{
	position: relative !important;
	width: 480px !important;
	height: 300px !important;
	top: 25% !important;
	margin-top: 0px !important;
	left: 52% !important;
	margin-left: -250px !important;
}
.pa3{
	position: relative !important;
	width: 480px !important;
	height: 300px !important;
	top: 50% !important;
	margin-top: 0px !important;
	left: 52% !important;
	margin-left: -250px !important;
}
.pa4{
	position: relative !important;
	width: 480px !important;
	height: 300px !important;
	top: 50% !important;
	margin-top: 0px !important;
	left: 52% !important;
	margin-left: -250px !important;
}

.menu{
	width: 100%;
}
.m_c1{
	width: 20%;
}
.m_c2{
	width: 80%;
	padding-left: 1%;
}

/* Páginas de Consulta */
.panelConsulta.ui-panel .ui-panel-titlebar { /* Painel de título */
	background-image: none;
	color: #FFFFFF;
}

.botaoConsulta.ui-button { /* Botões de Crud e Impressão */
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 28px;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

/* Pop-Up Assinantes */
.Assinantes.ui-dialog { /* Dimensões do Pop-Up */
	width: 600px !important;
	height: 640px !important;
	position: absolute !important;
	top: 25% !important;
	margin-top: -100px !important;
	left: 45% !important;
	margin-left: -250px !important;
}

.Assinantes .ui-dialog-titlebar { /* Título do Pop-Up */
	background-color: #FF7F24;
	background-image: none;
	color: #FFFFFF;
}

.Assinantes .ui-icon { /* Ícone de fechar */
	background-color: #FFFFFF;
}

.Assinantes .ui-panel-content { /* Alinhamento painel interno */
	padding: 0 !important;
	font-size: 13px;
}

.pnlAssinantes, .pnlContabilidade {
	border: 0;
}

/* Tabs */
.tabDados .ui-tabs-panel { /* TabView */
	padding: 0 !important;
}

.dadosAssinantes {
	border-radius: 0;
	border: 0 none;
	padding: 0 !important;
}

.pnlgInformacao {
	color: #9C9C9C;
}

.pnlgInformacao_c1, .pnlgInformacao_c2, .pnlgInformacao_c3,
	.pnlgInformacao_c4, .pnlgInformacao_c5, .pnlgInformacao_c6 {
	font-size: 12px;
}

.pnlgInformacao_c3, .pnlgInformacao_c4 {
	width: 17%;
}

.pnlgInformacao_c1 {
	width: 15.25%;
}

.pnlgInformacao_c2 {
	width: 9%;
	text-align: center;
}

.pnlgInformacao_c6 {
	width: 27%;
}

.iptCodAss {
	width: 60%;
	text-align: center;
}

.oplDtInclusao, .oplTpInclusao, .oplNumero {
	float: right;
}

.iptDtInclusao .ui-inputfield {
	width: 90%;
	text-align: center;
}

.iptTpInclusao {
	width: 94%;
}

.iptDadosAssinantes {
	position: relative;
	left: 0.6%;
	width: 96%;
}

.pnlgEndereco_c1 {
	width: 80%;
}

.iptEndereco {
	width: 97%;
}

.pnlgEndereco_c2 {
	width: 5%;
}

.pnlgEndereco_c3 {
	width: 11%;
}

.iptNumero {
	width: 72%;
}

.iptBairro {
	position: relative;
	left: 0.6%;
}

.iptCep {
	position: relative;
	left: 0.6%;
	width: 40%;
}

.selectUf{
	margin-left: 20%;
}

.selectUf .ui-icon { /* Ícone do selectOneMenu */
	background-color: transparent !important;
}

.selectUf .ui-icon, .codPlanoAss .ui-icon, .codContAss .ui-icon { /* Ícone do selectOneMenu */
	background-color: transparent !important;
}

.dataTableUsuariosAss.ui-datatable /* DataTable Usuário */ {
	width: 90%;
	white-space: normal !important;
}

.dadosUsuarios .ui-fieldset-legend { /* Título do fieldset */
	background-color: transparent;
	border: 0 solid #A8A8A8;
}

.dadosUsuarios.ui-fieldset { /* fieldset */
	padding-top: 0px;
	padding-left: 7px;
	width: 95%;
}

.botaoUsuariosAss.ui-button { /* Botões Incluir/Excluir Usuários */
	background-repeat: no-repeat;
	background-position: center;
	width: 30px !important;
	height: 28px !important;
	background-color: transparent;
	border-color: transparent;
}

.pnlgEndereco, .pngParametrosNotificar, .pnlgInformacao {
	/*panelGrid Endereço/ParametrosNotificar/Informação*/
	width: 100%;
}

/* Tab Plano Contratação */
.codPlanoAss.ui-inputfield { /* InputText Cód. Plano */
	text-align: right;
	width: 30%;
}

.descPlanoAss.ui-inputfield { /* InputText Descr. Plano */
	width: 200%;
}

.vlMensalAss.ui-inputfield { /* InputText Valor Mensal */
	text-align: right;
	width: 70%
}

/* Tab Contabilidade */
.codContAss.ui-inputfield { /* InputText Cód. Cont. */
	text-align: right;
	width: 30%;
}

.razaoSocialAss.ui-inputfield { /* InputText Razão Social */
	width: 200%;
}

/* Tab Parametros */
.pngParametros {
	white-space: nowrap;
}

.pngParametrosNotificar_c2 {
	font-size: 11px;
	white-space: nowrap;
	width: 100%;
}

.chkNotificar .ui-chkbox-box, .chkNotificar .ui-chkbox-icon {
	width: 13px !important;
	height: 13px !important;
}

.iptEmailMaster, .iptEmailFinanceiro {
	width: 95%;
}

.oplAviso, .oplAviso2 {
	font-size: 9.5px !important;
	white-space: nowrap;
}

#botaoIncluirAlterarAss { /* Div Botão Incluir/Alterar */
	text-align: right;
	background-color: #FFFFFF;
}

#botaoIncluirAlterarAss .ui-button {
	/* Botão Incluir/Alterar */
	background-color: #008B45;
	color: #FFFFFF;
	width: 100px;
	background-repeat: no-repeat;
	background-position: left;
	height: 35px;
}

/* Pop-Up Contabilidade */
.Contabilidade.ui-dialog { /* Dimensões do Pop-Up */
	width: 770px !important;
	height: 675px !important;
	position: absolute !important;
	top: 25% !important;
	margin-top: -100px !important;
	left: 43% !important;
	margin-left: -250px !important;
}

.Contabilidade .ui-dialog-titlebar { /* Título do Pop-Up */
	background-color: #FF7F24;
	background-image: none;
	color: #FFFFFF;
}

.Contabilidade .ui-icon { /* Ícone de fechar */
	background-color: #FFFFFF;
}

.Contabilidade .ui-panel-content { /* Alinhamento painel interno */
	padding: 0px !important;
	font-size: 13px;
}

.dados .ui-fieldset-legend { /* Título do fieldset */
	background-color: transparent;
	border: 0px solid #A8A8A8;
}

.dados.ui-fieldset { /* fieldset */
	padding-top: 0px;
	padding-left: 7px;
	width: 96%;
}

.iptDadosContabilidade {
	position: relative;
	left: 0.6%;
	width: 96%;
}

.pnlgContEndereco {
	width: 100%;
}

.pnlgContEndereco_c1 {
	width: 80%;
}

.iptContEndereco {
	width: 97%;
}

.pnlgContEndereco_c2 {
	width: 5%;
}

.pnlgContEndereco_c3 {
	width: 11%;
}

.iptContNumero {
	width: 72%;
}

.iptContBairro {
	position: relative;
	left: 0.6%;
}

.iptContCep {
	position: relative;
	left: 0.6%;
	width: 40%;
}

.pnlDadosCont_c2 {
	width: 99%;
}

.usuarioCheckBox .ui-chkbox-box { /* CheckBox Permissão */
	width: 13px !important;
	height: 13px !important;
}

.usuarioCheckBox .ui-chkbox-icon { /* Check do checkbox Permissão */
	width: 13px !important;
	height: 13px !important;
}

.usuarioLabel.ui-outputlabel { /* Label de Permissão */
	font-size: 11px;
}

.dataTableUsuarios.ui-datatable /* DataTable Usuário */ {
	width: 85%;
	white-space: normal;
	font-size: 11px;
	text-align: center;
}

.dataTableUsuarios .ui-datatable-empty-message {
	text-align: left;
}

/* PopUp - Planos */
.Planos.ui-dialog { /* Dimensões do Pop-Up */
	width: 550px !important;
	height: 280px !important;
	position: absolute !important;
	top: 40% !important;
	margin-top: -100px !important;
	left: 48% !important;
	margin-left: -250px !important;
}

.Planos .ui-dialog-titlebar { /* Título do Pop-Up */
	background-color: #FF7F24;
	background-image: none;
	color: #FFFFFF;
}

.Planos .ui-icon { /* Ícone de fechar */
	background-color: #FFFFFF;
}

.Planos .ui-panel-content { /* Alinhamento painel interno */
	padding: 0px !important;
	font-size: 13px;
}

.dadosPlanos {
	width: 100%;
}

.dadosPlanos_c1 {
	width: 15.5%;
}

.dadosPlanos_c2 {
	width: 84%;
}

.popUpPlano.ui-inputfield { /* InputText Plano */
	width: 13%;
	margin-left: 10%;
}

.popUpInclusaoDt .ui-inputfield { /* InputText Data Inclusão */
	width: 75%;
}

.popUpInclusaoTp.ui-inputfield { /* InputText Tipo Inclusão */
	width: 87%;
}

.popUpDescricao.ui-inputfield { /* InputText Descrição */
	width: 98%;
}

.planosValores.ui-inputfield {
	/* InputText Faixa Inicial e final, Valor Mensal */
	text-align: right;
	width: 30%;
}

.iptValorNfe {
	text-align: right;
	width: 58%;
}

#botaoIncluirAlterarPlano { /* Div do botão Incluir/Alterar */
	text-align: right;
	background-color: #FFFFFF;
}

#botaoIncluirAlterarPlano .ui-button { /* Botão Incluir/Alterar */
	background-color: #008B45;
	color: #FFFFFF;
	width: 100px;
	background-repeat: no-repeat;
	background-position: left;
}

/* PopUp Excluir */
.popUpExcluir .ui-dialog-titlebar {
	background-color: #FFFFFF;
	background-image: none;
}

.popUpExcluir.ui-confirm-dialog.ui-dialog.ui-widget.ui-widget-content.ui-corner-all{
	border-radius: 10px;
	text-align: center;
}

.popUpExcluir.ui-dialog .ui-dialog-buttonpane {
	text-align: center;
}

/* Páginas de Relatório */
#icones-zoom { /* Div para organizar os ícones de zoom */
	text-align: center;
	height: 20px;
	display: inline;
	width: 100%;
	margin-left: 25%;
}

#icones-exportar { /* Div para organizar os ícones de exportação */
	text-align: right;
	display: inline;
	width: 20%;
	float: right;
	margin-top: 0.5%;
}

.botoes { /* Configuração dos botões (zoom, exportação) */
	background-repeat: no-repeat !important;
	background-position: center;
	width: 25px;
	height: 20px;
	background-color: transparent !important;
	border-color: transparent !important;
}

#block_container { /* Div para alinhar os botões (zoom, exportação) */
	text-align: center;
}

.dataTable.ui-datatable .ui-sortable-column { /* Cabeçalho do Grid */
	text-align: center;
}

.dataTable .ui-widget-content { /* Conteúdo do Grid */
	text-align: center;
}

.dataTable .ui-widget {
	/* Alinhamento header com os botões (zoom, exportação) */
	vertical-align: bottom;
}

/* Gráfico */
.dataListGrafico .ui-datalist-header { /* Título do Gráfico */
	background-color: #FFFFFF;
	border: 0px;
	font-size: 17px;
}

.dataListGrafico .ui-datalist-content { /* border interno datalist */
	border: 0px;
}

.dataListGrafico .ui-datalist-item { /* Itens do datalist */
	color: #FFFFFF;
}

.panelGrafico.ui-panel .ui-panel-content {
	/* centralização do panelGrid */
	text-align: center;
}

.panelGrafico.ui-widget-content { /* panelGrid dentro do dataList */
	border: 1px solid #000000 !important;
	margin-left: -4% !important;
	margin-right: -0.5% !important;
}

.labelAss.ui-outputlabel { /* label Assinante */
	font-weight: bold;
	margin-left: -30%;
	font-size: 14px;
}

.textAss.ui-inputtext { /* InputText Assinante */
	font-size: 14px;
	width: 600%;
}

.labelCont.ui-outputlabel { /* label contabilidade */
	font-weight: bold;
	font-size: 14px;
}

.textCont.ui-inputtext { /* InputText contabilidade */
	font-size: 14px;
	width: 600%;
}

.labelPlano.ui-outputlabel { /* Label plano Contratado */
	font-weight: bold;
	font-size: 14px;
	margin-left: -9%;
}

.textPlano.ui-inputtext { /* InputText Plano Contratado */
	font-size: 14px;
	width: 300%;
}

.labelConsumo.ui-outputlabel { /* Label Consumo Restante */
	font-weight: bold;
	font-size: 14px;
}

.textConsumo.ui-inputtext { /* InputText Consumo Restante */
	font-size: 14px;
}

.graficoPie { /* Gráfico Consumo de Recurso Contratado */
	border: 1px solid #000000;
	width: 110%;
	padding-left: 5%;
	margin-top: 3%;
	margin-bottom: 3%;
	padding-top: 3%;
	text-align: left;
	font-weight: bold;
}

.graficoLine { /* Gráfico Histórico Consumo */
	border: 1px solid #000000;
	width: 100%;
	padding-left: 5%;
	margin-top: 3%;
	margin-bottom: 3%;
	padding-top: 3%;
	margin-left: 10%;
	font-weight: bold;
}

.dataListGrafico .ui-paginator.ui-paginator-bottom {
	/* Paginação do DataList */
	border-top: 1px solid #A8A8A8 !important;
	margin-left: -0.9%;
	margin-right: -0.7%;
}


.dtConsulta{
	width: 100%;
	text-align: center;
	font-size: 11px !important;
}
.dtConsulta .ui-datatable-empty-message{
	text-align: left;
}
.c_caa_venc{
	width: 8.2%;
	text-align: right;
}
.c_caa_codPlano{
	width: 5.6%;
	text-align: right;
}
.c_caa_Desc{
	width: 11%;
	text-align: left;
}
.c_caa_vlMensal{
	width: 8.5%;
	text-align: right;
}
.c_caa_codAss{
	width: 5.1%;
	text-align: right;
}
.c_caa_cnpj{
	width: 10.5%;
	text-align: center;
}
.c_caa_razaoSocialAss{
	width: 11%;
	text-align: left;
}
.c_caa_codCont{
	width: 5.1%;
	text-align: right;
}
.c_caa_cnpjCont{
	width: 10.5%;
	text-align: center;
}
.c_caa_razaoSocialCont{
	width: 11%;
	text-align: left;
}
.c_caa_venc .ui-column-filter, .c_caa_codPlano .ui-column-filter, .c_caa_Desc .ui-column-filter,
.c_caa_vlMensal .ui-column-filter, .c_caa_codAss .ui-column-filter, .c_caa_cnpj .ui-column-filter,
.c_caa_razaoSocialAss .ui-column-filter, .c_caa_codCont .ui-column-filter, .c_caa_cnpjCont .ui-column-filter,
.c_caa_razaoSocialCont .ui-column-filter,
.c_cca_codCont .ui-column-filter, .c_cca_cnpj .ui-column-filter, .c_cca_razaoSocialCont .ui-column-filter,
.c_cca_municipio .ui-column-filter, .c_cca_uf .ui-column-filter,
.c_cpa_codPlano .ui-column-filter, .c_cpa_desc .ui-column-filter, .c_cpa_faixaInicial .ui-column-filter,
.c_cpa_faixaFinal .ui-column-filter, .c_cpa_valorMensal .ui-column-filter, .c_cpa_valorNfe .ui-column-filter,
.c_rcad_codAss .ui-column-filter, .c_rcad_cnpj .ui-column-filter, .c_rcad_assinante .ui-column-filter,
.c_rcad_codPlano .ui-column-filter, .c_rcad_plano .ui-column-filter, .c_rcad_faixaInicial .ui-column-filter,
.c_rcad_faixaFinal .ui-column-filter, .c_rcad_valorMensal .ui-column-filter, .c_rcad_contCnpj .ui-column-filter,
.c_rcad_contabilidade .ui-column-filter, .c_rcad_comissao .ui-column-filter, 
.c_rcad_comissaoMensal .ui-column-filter,
.c_rcca_codAss .ui-column-filter, .c_rcca_cnpj .ui-column-filter, .c_rcca_assinante .ui-column-filter,
.c_rcca_codPlano .ui-column-filter, .c_rcca_plano .ui-column-filter, .c_rcca_faixaInicial .ui-column-filter,
.c_rcca_faixaFinal .ui-column-filter, .c_rcca_numDoctos .ui-column-filter{
	width: 90% !important;
	text-align: center;
	margin: auto;
}




.c_cca_codCont{
	width: 5%;
	text-align: right;
}
.c_cca_cnpj{
	width: 6%;
	text-align: center;
}
.c_cca_razaoSocialCont{
	width: 30%;
	text-align: left;
}
.c_cca_municipio{
	width: 10%;
	text-align: left;
}
.c_cca_uf{
	width: 3%;
	text-align: center;
}

.gridBotao{
	width: 100%;
}
.gridBotao_c1{
	width: 5%;
}
.grid_Botao_c2{
	width: 10%;
}
.grid_Botao_c2 .ui-inputtext{
	width: 70%;
	text-align: right;
}
.grid_Botao_c3{
	float: right;
}
.grid_Botao_c3 .ui-button{
	background-color: #008B45;
	color: #FFFFFF;
	width: 100px;
	background-repeat: no-repeat;
	background-position: left;
	height: 35px;
}

.gridUsuario{
	width: 100%;
}
.gU_c1, .gU_c6, .gU_c7{
	width: 7%;
}
.gU_c2, .gU_c4, .gU_c5{
	width: 28%;
}
.gU_c3{
	width: 5%;
}
.gU_c6 .ui-button, .gU_c7 .ui-button{
	background-repeat: no-repeat;
	background-position: center;
	width: 18px;
	height: 28px;
	background-color: transparent;
	border-color: transparent;
}

.gU_c7 .ui-button, .gUA_c5 .ui-button{
	float: left;
}

.gridUsuarioAss{
	width: 90%;
}

.gUA_c1, .gUA_c3, .gUA_c5, .gUA_c6{
	width: 5%;
}
.gUA_c2, .gUA_c4{
	width: 25%;
}
.gUA_c5 .ui-button, .gUA_c6 .ui-button{
	background-repeat: no-repeat;
	background-position: center;
	height: 28px;
	background-color: transparent;
	border-color: transparent;
}


.c_cpa_codPlano{
	text-align: right;
	width: 8%;
}
.c_cpa_desc{
	text-align: left;
	width: 48%;
}
.c_cpa_faixaInicial{
	text-align: left;
	width: 10%;
}
.c_cpa_faixaFinal{
	text-align: left;
	width: 10%;
}
.c_cpa_valorMensal{
	text-align: right;
	width: 12%;
}
.c_cpa_valorNfe{
	text-align: right;
	width: 12%;
}

.c_select{
	width: 3% !important;
}


.dataTable{
	width: 100%;
	white-space: normal;
	font-size: 11px !important;
}
.c_rcad_codAss{
	text-align: left;
	width: 5.3%;
}
.c_rcad_cnpj{
	text-align: center;
	width: 12%;
}
.c_rcad_assinante{
	text-align: left;
	width: 11%;
}
.c_rcad_codPlano{
	text-align: left;
	width: 6.4%;
}
.c_rcad_plano{
	width: 10.5%;
}
.c_rcad_faixaInicial{
	text-align: left;
	width: 6.2%;
	text-align: left;
}
.c_rcad_faixaFinal{
	text-align: center;
	width: 5.4%;
}
.c_rcad_valorMensal{
	text-align: right;
	width: 7%;
}
.c_rcad_contCnpj{
	text-align: center;
	width: 12%;
}
.c_rcad_contabilidade{
	text-align: left;
	width: 11%;
}
.c_rcad_comissao{
	text-align: left;
	width: 6.7%;
}
.c_rcad_comissaoMensal{
	text-align: left;
	width: 7%;
}


.c_rcca_codAss{
	text-align: left;
	width: 6%;
}
.c_rcca_cnpj{
	text-align: center;
	width: 12%;
}
.c_rcca_assinante{
	text-align: left;
	width: 22%;
}
.c_rcca_codPlano{
	text-align: left;
	width: 6%;
}
.c_rcca_plano{
	text-align: left;
	width: 22%;
}
.c_rcca_faixaInicial{
	text-align: left;
	width: 10%;
}
.c_rcca_faixaFinal{
	text-align: left;
	width: 10%;
}
.c_rcca_numDoctos{
	text-align: left;
	width: 12%;
}




.centered{
	position:relative;
	height: 100px;
	margin:0 auto;
	padding: 10% 0;
	text-align: center;
}



#headerGrafico{
	background-color: #C4C4C4;
	border-radius: 0px;
	border: 0 none;
	width: 100%;
	text-align: center;
	display: inline-block;
}

#footerGrafico{
	background-color: #C4C4C4;
	background-image: none;
	color: #FFFFFF;
	border-radius: 0px;
	border: 0 none;
	width: 100%;
	text-align: center;
	display: inline-block;
	height: 35px !important;
}

#centerPaginator {
	margin-top: 1%;
	margin-left: 40%;
	width: 15%;
	
}

.dataListGrafico{
	width:99.5%;
	border: 0 none;
}

.tituloGrafico.ui-outputlabel{
	font-size:2em;
	margin-left: 30%;
}

.panelGraficos{
	border:1px solid; 
	width:100%;
}
.pngGraficos{
	width: 100%;
}
.pg_c1{
	width: 90px;
	text-align:left;
}
.pg_c2{
	border: 1px solid;
	text-align:left;
	width: 98%
}
.pg_c3{
	text-align:left;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%;
}
.pg_c4{
	text-align:left;
	padding-left: 5%;
	padding-right: 3%;
	padding-top: 1%;
}
.pg_c5{
	text-align:left;
	width: 120px;
}.pg_c6{
	border: 1px solid;
	text-align:left;
	width: 	450px;
}
.pg_c7{
	text-align:left;
	width: 120px;
}
.pg_c8{
	border: 1px solid;
	text-align:left;
	width: 225px;	
}

.botaoZoom_grafico { /* Configuração dos botões (zoom, exportação) */
	background-repeat: no-repeat !important;
	background-position: center;
	width: 25px;
	height: 20px;
	background-color: transparent !important;
	border-color: transparent !important;
}
