#cabecalho {
	background-color: #21E121;
	height: 114px;
}

#logoCompany {
	float: left;
	position: absolute;
}

/* rodape */
#rodape {
	background-color: #21E121;
	background-image: none;
	width: 99%;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size: 10px;
	color: #FFFFFF;
	display: block;
	background-image: none;
}

#logoutLabel {
	position: absolute;
	right: 14px;
	top: 100px;
}

#logoutLink {
	position: absolute;
	right: 14px;
	top: 86px;
}

#logout {
	position: absolute;
	right: 14px;
	top: 86px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	color: #FFFFFF;
}

#conteudo {
	width: 100%;
}


/* Padrão */
.panelTitulo{
	width: 99.5%;
	height: 700px;
}
.panelTitulo.ui-panel .ui-panel-titlebar { /* Painel de título */
	background-color: #21E121;
	background-image: none;
	color: #FFFFFF;
	border-radius: 0px;
}

.panelTitulo.ui-panel .ui-panel-title {
	margin: auto;
}

.ui-widget { /* Tamanho da letra para o site */
	 font-size: 13px;
}

/* Página de Login */
.panelTituloLogin{
	width: 99.5%;
}
.panelTituloLogin.ui-panel .ui-panel-titlebar { /* Painel de título */
	background-color: #21E121;
	background-image: none;
	color: #FFFFFF;
	border-radius: 0px;
}

.panelTituloLogin.ui-panel .ui-panel-title {
	margin: auto;
}
#formLogin {
	width: 500px;
	height: 200px;
	position: absolute;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -250px;
}

#formLogin .ui-widget-header { /* Título do form de login*/
	color: #FFFFFF;
	height: 25px;
}

#formLogin .ui-inputtext { /* Caixa de texto do form */
	width: 170%;
}

#formLogin .ui-password { /* Passaword do form */
	width: 65%;
}

#formLogin .ui-icon { /* Ícone no título do form */
	background-color: #FFFFFF;
}

#botaoLogin { /* Botões Conectar e Limpar */
	text-align: right;
}

#formLogin .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon { /* Ícone do selectOneMenu */
	background-color: transparent !important;
}

.panelTituloRelatorio{
	width: 99.5%;
	height: 100% !important;
}
.panelTituloRelatorio.ui-panel .ui-panel-titlebar {
	background-color: #21E121;
	background-image: none;
	color: #FFFFFF;
	border-radius: 0px;
}
.panelTituloRelatorio.ui-panel .ui-panel-title {
	margin: auto;
}

/*Painel*/
#panelgridPainelMenu{
	width: 100% !important;
}
#panelgridMenu{
	position: relative;
	width: 25%;
	float: left;
	margin-left: -10px;
}
#panelgridGraficos{
	position: relative !important;
	float:right;
	width: 75% !important;
}
.grafico { /* Gráficos da Tela */
	width: 100%;
	margin: auto !important;
	font-size: 13px;
}
.g_c1{
	width: 50%;
}
.g_c2{
	width: 50%;
}

.painel.ui-menu { /* Menu */
	border-radius: 0px;
	width: 97%;
	font-size: 13px;
	background-image: none;
}

.painel.ui-menu .ui-widget-header { /* Título SubMenu */
	background-color: #21E121;
	background-image: none;
	color: #FFFFFF;
}

.painel.ui-menu .ui-menu-list { /* Tamanho título Submenu */
	width: 93%;
}

.painel .ui-menu .ui-menuitem-link { /* Itens do menu */
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}

.iconesMenu { /* Ícones do SubMenu */
	background: no-repeat 2%;
	padding-left: 20px !important;
}
#botaoIncluirAlterarAss { /* Div Botão Incluir/Alterar */
	text-align: right;
	background-color: #FFFFFF;
}

#botaoIncluirAlterarAss .ui-button {
	/* Botão Incluir/Alterar */
	background-color: #008B45;
	color: #FFFFFF;
	width: 100px;
	background-repeat: no-repeat;
	background-position: left;
	height: 35px;
}
.botao_incluirAss{
	background-color: #008B45;
	color: #FFFFFF;
	width: 100px;
	background-repeat: no-repeat;
	background-position: left;
	height: 35px;
	font-weight: bold;
}